*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
}
body{
  display: grid;
  place-items: center;
  background: url("bg.jpeg");
  text-align: center;
}
h3{
    color: #fff;
}
.relogio{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dde1e7;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  box-shadow: -3px -3px 7px #ffffff73,
              3px 3px 5px rgba(94,104,121,0.288);
}
.relogio:before{
  position: absolute;
  content: '';
  height: 220px;
  width: 220px;
  background: #dde1e7;
  border-radius: 50%;
  box-shadow: inset -3px -3px 7px #ffffff73,
              inset 3px 3px 5px rgba(94,104,121,0.288);
}
.relogio:after{
  position: absolute;
  content: '';
  height: 120px;
  width: 120px;
  background: #dde1e7;
  border-radius: 50%;
  box-shadow: -1px -1px 5px #ffffff73,
              1px 1px 3px rgba(94,104,121,0.288);
}
.relogio .porca-central{
  height: 15px;
  width: 15px;
  background: #404040;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
}
.relogio .porca-central2{
  height: 9px;
  width: 9px;
  background: #3104B4;
  border-radius: 50%;
  z-index: 15;
  position: absolute;
}
.indicadores div{
  position: absolute;
  width: 2px;
  height: 5px;
  background: #404040;
}
.indicadores div:nth-child(1){
  transform: rotate(30deg) translateY(-100px);
}
.indicadores div:nth-child(2){
  transform: rotate(60deg) translateY(-100px);
}
.indicadores div:nth-child(3){
  background: #3104B4;
  transform: rotate(90deg) translateY(-100px);
}
.indicadores div:nth-child(4){
  transform: rotate(120deg) translateY(-100px);
}
.indicadores div:nth-child(5){
  transform: rotate(150deg) translateY(-100px);
}
.indicadores div:nth-child(6){
  background: #3104B4;
  transform: rotate(180deg) translateY(-100px);
}
.indicadores div:nth-child(7){
  transform: rotate(210deg) translateY(-100px);
}
.indicadores div:nth-child(8){
  transform: rotate(240deg) translateY(-100px);
}
.indicadores div:nth-child(9){
  background: #3104B4;
  transform: rotate(270deg) translateY(-100px);
}
.indicadores div:nth-child(10){
  transform: rotate(300deg) translateY(-100px);
}
.indicadores div:nth-child(11){
  transform: rotate(330deg) translateY(-100px);
}
.indicadores div:nth-child(12){
  background: #3104B4;
  transform: rotate(360deg) translateY(-100px);
}
.sec-hand,.min-hand,.hr-hand{
  position: absolute;
}
.sec-hand, .sec{
  height: 180px;
  width: 180px;
  z-index: 6;
}
.min-hand, .min{
  height: 140px;
  width: 140px;
  z-index: 5;
}
.hr-hand, .hr{
  height: 110px;
  width: 110px;
  z-index: 4;
}
.sec,.min,.hr{
  display: flex;
  justify-content: center;
  position: absolute;
}
.sec:before{
  position: absolute;
  content: '';
  height: 110px;
  width: 3px;
  background: #3104B4;
}
.sec:after{
  position: absolute;
  content: '';
  height: 35px;
  width: 7px;
  background: #3104B4;
  top: 105px;
  border-radius: 5px;
}
.min:before{
  position: absolute;
  content: '';
  width: 1px;
  top: -15px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 60px solid #e95949;
}
.min:after{
  position: absolute;
  content: '';
  width: 3px;
  top: 40px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-top: 30px solid #e95949;
}
.hr:before{
  position: absolute;
  content: '';
  width: 1px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 35px solid #303030;
}
.hr:after{
  position: absolute;
  content: '';
  width: 3px;
  top: 34px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-top: 25px solid #303030;
}
